<!-- ===== Footer ===== -->
<footer>
  <div>
    <img src="{{ site.baseurl }}/assets/images/icon/anlucas3.gif" alt="anlucas3" width="88" height="32" style="margin-right:10px;" />
    <img src="{{ site.baseurl }}/assets/images/icon/mobile.gif" alt="mobile" width="88" height="32" style="margin-right:10px;" />
    <img src="{{ site.baseurl }}/assets/images/icon/btn-silvercruiser.gif" alt="btn-silvercruiser" width="88" height="32" style="margin-right:10px;" />
    <img src="{{ site.baseurl }}/assets/images/icon/aceattorneyvillains.png" alt="aceattorneyvillains" width="88" height="32" style="margin-right:10px;" />
    <img src="{{ site.baseurl }}/assets/images/icon/caramelldansen.gif" alt="caramelldansen" width="88" height="32" />
  </div>
  <p>© 2000-2026 ISLAND_BABE_SPACE. ALL RIGHTS RESERVED.</p>
  <p style="margin-top:5px; font-size:11px;">DESIGNED WITH SUNSHINE, SEA &amp; Y2K SPIRIT.</p>
</footer>
