<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{% if page.title %}{{ page.title }} ✦ {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{{ site.description }}" />
<link rel="icon" href="{{ site.baseurl }}/favicon.ico" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
<link
  rel="stylesheet"
  href="https://cdn.cursors-4u.net/cursors/animated/cute-ears-doll-girl-9aaba74d-32.css"
/>
