<!-- ===== Header ===== -->
<header class="header-title">
  <h1><span class="sparkle">✦</span> C3BER_SPICE.LOG <span class="sparkle">✦</span></h1>
  <p>🌊 欢迎来到我的阳光沙滩数字岛屿！ 🌴</p>
  <img src="{{ site.baseurl }}/assets/images/Sun_umbrella.png" alt="Sun_umbrella" width="100" height="110"
       style="position:absolute; bottom:-10px; left:50px;" />
  <img src="{{ site.baseurl }}/assets/images/sun.png" alt="sun" width="100" height="100"
       style="position:absolute; bottom:-10px; left:150px;" />
  <img src="{{ site.baseurl }}/assets/images/shellblue.gif" alt="shellblue" width="55" height="55"
       style="position:absolute; top:20px; right:50px; rotate:-150deg; scale:1.5;" />
</header>
